{% extends 'base.html.twig' %}

{% block title %}Lista de Palestras{% endblock %}

{% block body %}
    <h2>Lista de Palestras</h2>
    <a href="{{ path('palestra_criar') }}" class="btn btn-sm btn-success mb-3">Novo</a>
    <table class="table table-hover table-striped table-sm">
        <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Data</th>
            <th>Hora Início</th>
            <th>Hora Fim</th>
            <th>Palestrante</th>
            <th class="text-center">Opções</th>
        </tr>
        </thead>
        <tbody>
        {% for palestra in palestras %}
            <tr>
                <td>{{ palestra.titulo }}</td>
                <td>{{ palestra.data|date('d/m/Y') }}</td>
                <td>{{ palestra.horaInicio|date('H:i') }}</td>
                <td>{{ palestra.horaFim|date('H:i') }}</td>
                <td>{{ palestra.palestrante.nome }}</td>
                <td class="text-center">
                    <a href="{{ path('palestra_mostrar', {id:palestra.id}) }}" class="btn btn-sm btn-secondary">Ver</a>
                    <a href="{{ path('palestra_atualizar', {id:palestra.id}) }}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{{ path('palestra_deletar', {id:palestra.id}) }}" class="btn btn-sm btn-danger">Apagar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
