{% extends 'base.html.twig' %}

{% block title %}
    Detalhes da Palestra
{% endblock %}

{% block body %}
    <a href="{{ path('palestra_criar') }}">Novo</a>
    <p>{{ palestra.titulo }}</p>
    <p>{{ palestra.data|date('d/m/Y') }}</p>
    <p>{{ palestra.horaInicio|date('H:m') }}</p>
    <p>{{ palestra.horaFim|date('H:m') }}</p>
    <p>{{ palestra.palestrante.nome }}</p>
    <a href="{{ path('palestra_atualizar', {id:palestra.id}) }}">Editar</a>
    <a href="{{ path('palestra_deletar', {id:palestra.id}) }}">Apagar</a>
{% endblock %}
